.char-layout, .char {
    text-align: center;
}

#thistle {
    border-radius: 25px;
    opacity: 0.5;
}

#verdan {
    border-radius: 25px;
    opacity: 0.5;
}

.center {
    text-align: center;
}

.characters h3 {
    background-color: #834f27dd;
    border-radius: 25px;
    padding: 10px 24px;
    color: aliceblue;
}